.heading{
    padding: 10px;
}

.tweet{
    padding: 15px 10px;
}

.noNotificationParent{
    display: flex;
    align-items: center;
    height: 70%;
    justify-content: center;
}

.noNotification{
    font-size: 1.4rem;
    font-weight: 300;
    
}