.mainSection{
    display: flex;
    gap:10px;
}

.container{
    height: 100vh;
    box-sizing: border-box;
    border-left : 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
    flex: 0 0 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.sideBar{
    max-width: 350px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top:10px;
    overflow: hidden;
}

.createAccountBtn{
    width: 100%;
    font-size: large;
    font-weight: 500;
}

@media only screen and (max-width: 974px) {
    .sideBar{
        display: none;
    }
    
}

@media only screen and (max-width: 685px) {
    .container{
        width: 100%;
        flex:none;
    }
}