
.btnCluster{
    margin-top: 30px;
    margin-bottom: 10px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}


.button{
    width: 50px;
    height: 20px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.svg{
    height: 14px;
}

.commentBtn:hover *{
    transition: fill 0.2s linear, color 0.2s linear;
    fill: #0000ff;
    color: #0000ff;
}

.retweetBtn:hover *{
    transition: stroke 0.2s linear, color 0.2s linear;
    stroke: #00ff00 !important;
    color: #00ff00;
}

.likeBtn:hover *{
    transition: stroke 0.2s linear, color 0.2s linear;
    stroke: #ff0000;
    color: #ff0000;
}