.header{
    position: sticky;
    top: 0px;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 107px;
    border-bottom: 1px var(--borderColor) solid;
    z-index: 5;
}

.headerTitleContainer{
    height: 53px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.headerTitle{
    font-weight: 400;
}

.currentView > p{
    border-bottom: var(--blueColor) solid 2px;
    height: 100%;
    display: flex;
    align-items: center;
}

.buttonCluster{
    display: flex;
    height: 53px;
}
.topButton{
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tweetCreation{
    display: flex;
    margin-bottom: 20px;
}

.profileHolder{
    width: 48px;
    margin-right: 12px;
}

.profile{
    width: 48px;
    height: 48px;
    margin-top: 12px;
    background-image: url('/twitterPicture.jpg');
    background-size: cover  !important;
    background-position: center !important;
    border-radius: 50%;
}

.tweetCreation{
    padding: 0px 20px;

}
.mainHolder{
    display: flex;
    flex-direction: column;
    width: 100%;
}



.tweetAddon{
    display: flex;
    gap: 10px
}

.tweetBtn{
    background-color: var(--blueColor);
    color: white;
    font-weight: 600;
    padding: 0px 20px;
}

.tweetBtn:hover{
    background-color: blue;
}

.imageHolder{
    width: 100%;
   max-width: 500px;
   display: grid;

}

.tweetImage{
    display: block;
    width: 100%;
}

.tweeterTweet{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin-top: 20px;
}

.sending{
    display: none;
}

.tweetHolder{
    padding: 10px 20px !important;
}