.backBtn{
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.svgBack{
    height: 30px;
    width: 30px;
}

.backBtn{
    background-color: transparent;
    border: none;
    outline: none;
}

.backBtn *:hover{
    fill: gray;
}

.backBtn *:active{
    fill: rgb(46, 46, 46);
}