.mainBody{
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 275px;
    flex-basis: 275px;
}
.svg{
    width: 30px;
    height: 30px;
}

.navitem{
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: flex-start;
    border-radius: 50px;
}
.navitem:hover{
    background-color: rgb(53, 52, 52);
}


.navitemContainer{
    max-width: 275px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout{
    
    margin-top: auto;
} 



@media only screen and (max-width: 1250px){
    .navitemContainer{
        width: 80px;
        margin-left: auto;
    }
    .mainBody{
        display: flex;
        height: 100vh;
        width: 100%;
        max-width: 275px;
        flex-basis: 80px;

    }
}

@media only screen and (max-width: 500px){
    .mainBody{
        max-width: none;
        height: 76px;
        width: 100%;
        position: fixed;
        left: 0px;
    }
    .navitemContainer{
        width: 100%;
        height: 100%;
        flex-direction: row;
        margin-left: 0px;
        justify-content: space-between;
        max-width: none;
        justify-items: center;
        padding: 0px;
        align-items: center;
    }
    .logout{
        margin: 0px;
    }
}