/* Variables */
:root{
    --borderColor: #38393c;
    --blueColor  : #1d9bf0;
    --componentColor: #202327;
}

body{
    background-color: black;
    color: white;
    font-family: helveticaNeueMedium;
}
*{
    padding: 0px;
    margin: 0px;
}


.blurBack{
    height: 100vh;
    width: 100vw;
    z-index: 11;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(43, 53, 61, 0.53);
}

::-webkit-scrollbar{
    display: none;
}


@font-face {
    font-family: helveticaNeueMedium;
    src: url('./Font/HelveticaNeueMedium.ttf');
}

@font-face {
    font-family: helveticaNeueThin;
    src: url('./Font/HelveticaNeueLight.ttf');
}

.first{
    flex-basis: 33%;
    flex-grow: 1;
    flex-shrink: 100;
    display: flex;
    justify-content: end;
}

.second{
    flex-basis: 66%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 1000px;
}


.navbarText{
    color: white;
}

.main-container{
    display: flex;
    font-size: 1.2rem;
}


@media only screen and (max-width: 1250px) {
    .first{
        flex-basis: 80px;
        flex-grow: 1;
        flex-shrink: 400;
    }

    .navbarText{
        display: none;
    }

    .second{
        flex-basis: 980px;
        min-width: 0px;
    }
}

@media only screen and (max-width: 973px){
    .first{
        flex-basis: 10%;
        flex-shrink: 30;
    }
    .second{
        flex-basis: 700px;
    }
}

@media only screen and (max-width: 500px){
    .first{
        display: none;
    }
    .second{
        width: 100%;
    }
    /* TODO: If border in twitter not showing change this */
    .second > div{
        border: none;
        /* background-color: red; */
    }
}