.header{
    position: static;
    top: 0px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.headerpicture{
    background-color: #333639;
    width: 100%;
    aspect-ratio: 27/9;
    background-size: cover !important;
    background-position: center !important;
    border: none;
    outline: none;
}

.profile{
    height: 133px;
    width: 133px;
    background-position: center !important;
    background-size: cover !important;
}

.headerpicture{
    width: 100%;
}

.profileHolder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    aspect-ratio: 100/15;
    max-height: 68px;
}

.btnProfile{
    position: sticky;
    top: 10px;
    padding: 2px 20px;
    margin-left: auto;
    font-size: 1rem;

}

.followBtn{

}

.followingBtn{
    background-color: var(--blueColor);
    color: white;
}
.followingBtn:hover{
    background-color: rgb(59, 59, 197);
}

.followingBtn:active{
    background-color: rgb(45, 45, 163); ;
}

.editProfileBtn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.editProfileBtn:hover{
    background-color: #333639;
}


.profile{
    width: 25%;
    padding-top: 25%;
    height: 0;
    border-radius: 50%;
    position: absolute;
    top: -42%;
}

.profileContent{
    padding: 10px 20px;
    position: relative;
    margin-bottom: 10px;
}

.nameTitle{
    /* padding: 0 20px; */
}

.usernamTitle{
    color: gray;
    font-size: 0.95rem;
    font-weight: 300;
}


.followTitle{
    font-size: 0.8rem;
    font-weight: 300;
    color: gray;
    margin-top: 10px;
}

.whiteText{
    color: white;
}

.btnCluster{
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--borderColor);
}

.btn{
    width: 100%;
    background-color: transparent;
    padding: 0 20px;
    color: white;
    border: none;
    font-size: 1rem;
    height: 30px;
    
}

.btn > div{
    margin: 0 auto;
    width: fit-content;
    height: 100%;
}

.active{
    border-bottom: 2px solid var(--blueColor);
}

.bio{
    margin: 20px 0;
    font-size: 15px;
}


@media only screen and (max-width: 611px) {
    .profile{
        top: -35%;
    }
}


@media only screen and (max-width: 517px) {
    .profile{
        top: -30%;
    }
    
}


@media only screen and (max-width: 359px){
    .profile{
        top: -25%;
    }
}


@media only screen and (max-width: 223px){
    .profile{
        top: -30px;
    }
}
